name: React CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
    # 1. Download Code
    - name: Checkout Code
      uses: actions/checkout@v3

    # 2. Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3. Set up Docker Buildx (Makes builds faster)
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    # 4. Build and Push the Image
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        push: true
        # REPLACE 'your-username' below with your actual Docker Hub username!
        tags: tanbieee/devdash:latest